.message-tweet
  %ul.tweet-lists
    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h
    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h

    %li.tweet-list
      .message-tweet-content
        .content
          = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
          .content-header
            %span.nickname
              めそじろう
            %span.id
              @mesozirou
            %span.timestamps
              10分前
            .content-main-text
              aaaaaaa
          .content-btn
            .reply-btn
              .fa.fa-reply
            .retweet-btn
              .fa.fa-retweet
            .favorite-btn
              .fa.fa-heart
            .detail-btn
              .fa.fa-ellipsis-h
