.recommend-follow-users
  .recommend-follow-user
    = link_to user_path(recommend.id) do
      = image_tag(recommend.user_img.url, class: "recommend-user-icon")
    .recommend-user-list
      %span.recommend-user-nickname
        = recommend.nickname
      %span.recommend-user-id<>
        @
        = recommend.username
    .recommend-user-follow
      .profile-button
        -if current_user.following?(recommend)
          = form_for(current_user.active_relationships.find_by(followed_id: recommend.id), html:{ method: :delete }) do |f|
            = f.submit "フォロー解除する", class: "recommend-btn-follow"
        -else
          = form_for(current_user.active_relationships.build) do |f|
            = hidden_field_tag :following_id, recommend.id
            =f.submit "フォローする", class: "recommend-btn-follow"
