.tweet-main-content
  .tweet-main-content__left
    .user-profile
      .user-profile__head
        = image_tag("http://cdn-ak.f.st-hatena.com/images/fotolife/S/SikisimaHisayuki/20160323/20160323231426.png", class: "header_img")
      .user-profile__bottom
        =image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "icon_img")

        .user-name
          .nickname
            めそじろう
          .id
            @mesozirou
        .user-info
          %ul.user-info__list
            %li.info-list
              %span.u-block
                ツイート数
              %span.user-tweet-number.u-number
                120000
            %li.info-list
              %span.u-block
                フォロー
              %span.user-follow-number.u-number
                300
            %li.info-list
              %span.u-block
                フォロワー
              %span.user-follower-number.u-number
                500
    .twitter-trend
      .trend-header
        %span.trend-location
          トレンド
        %span.middot
          ・
        %span.trend-change
          変更する
      .trend-contents
        %ul.trend-contents-list
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート

.tweet-center-page
  .message-formbox
    .message-user-box
      =image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "user-img-box")
    %form{:action => "/", :method => "", class: "message-tweet-form"}
    %input{placeholder: "いまどうしてる？" ,class: "message-input"}
    .fa.fa-camera.pre_camera
    .tweet-box-toolbar
      .tweet-box-extra
        .fa.fa-camera.new_camera
        .fa.fa-picture-o
        .fa.fa-bar-chart
        .fa.fa-map-
      .tweet-box-tweet-btn
        %span.tweet-counter
          140
        %button
          = image_tag("http://www.fastpic.jp/images.php?file=3402064864.png",class: "new-tweet-btn")
  .message-alarm
    300件の新着ツイートを表示
  .message-tweet
    %ul.tweet-lists
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h
      %li.tweet-list
        .message-tweet-content
          .content
            = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
            .content-header
              %span.nickname
                めそじろう
              %span.id
                @mesozirou
              %span.timestamps
                10分前
              .content-main-text
                aaaaaaa
            .content-btn
              .reply-btn
                .fa.fa-reply
              .retweet-btn
                .fa.fa-retweet
              .favorite-btn
                .fa.fa-heart
              .detail-btn
                .fa.fa-ellipsis-h

.tweet-main-content__right
  .recommend-user
    .recommend-user-header
      %span.notification
        おすすめユーザー
      %span.reload-link
        更新
      %span.view-all-link
        すべてを見る
    .recommend-follow-users
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-user__more
        友だちを見つける
  .flex-module
    .flex-module-inner
      %ul.inners
        %li.inner
          © 2016 Twitter
        %li.inner
          Twitterについて
        %li.inner
          ヘルプ
        %li.inner
          規約
        %li.inner
          プライバシー
        %li.inner
          クッキー
        %li.inner
          広告について
        %li.inner
          ブランド
        %li.inner
          ブログ
        %li.inner
          ステータス
        %li.inner
          アプリ連携
        %li.inner
          採用情報
        %li.inner
          広告掲載方法
        %li.inner
          メディア
        %li.inner
          開発者
  .flex-add
    .flex-add-inner
      Twitter広告

