.tweet-main-content
  .tweet-main-content__left
    .user-profile
      .user-profile__head
        = image_tag("http://cdn-ak.f.st-hatena.com/images/fotolife/S/SikisimaHisayuki/20160323/20160323231426.png", class: "header_img")
      .user-profile__bottom
        -if current_user.user_img
          =image_tag(current_user.user_img, class: "icon_img")
        -else
          =image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "icon_img")

        .user-name
          .nickname
            = current_user.nickname
          .id
            = current_user.username
        .user-info
          %ul.user-info__list
          = link_to user_path(current_user) do
            %li.info-list
              %span.u-block
                ツイート数
              %span.user-tweet-number.u-number
                = current_user.tweets.count
            = link_to following_path(current_user.id) do
              %li.info-list
                %span.u-block
                  フォロー
                %span.user-follow-number.u-number
                  = current_user.following.count
            = link_to followed_path(current_user) do
              %li.info-list
                %span.u-block
                  フォロワー
                %span.user-follower-number.u-number
                  = current_user.followers.count
    .twitter-trend
      .trend-header
        %span.trend-location
          トレンド
        %span.middot
          ・
        %span.trend-change
          変更する
      .trend-contents
        %ul.trend-contents-list
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート
          %li.trend-main
            %span.trend-name
              終わらない
            .trend-number
              23942件のツイート

.tweet-center-page
  .message-formbox
    .message-user-box
      =image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "user-img-box")
    = form_for @tweet,html: {class: 'message-tweet-form"'}  do |f|
      = f.text_area :text, class: "message-input", placeholder: "いまどうしてる？"
      .fa.fa-camera.pre_camera
      .tweet-box-toolbar
        .tweet-box-extra
          .fa.fa-camera.new_camera
          .fa.fa-picture-o
          .fa.fa-bar-chart
          .fa.fa-map-
        .tweet-box-tweet-btn
          %span.tweet-counter
            140
            = button_tag type: :submit, id:"message-tweet-button" do
              =image_tag("http://www.fastpic.jp/images.php?file=3402064864.png",class: "new-tweet-btn")
  .message-alarm
    300件の新着ツイートを表示
  .message-tweet-long
    %ul.tweet-lists
      = render partial: 'tweets/user_text',collection: feed_tweets, as:'tweet'

.tweet-main-content__right
  .recommend-user
    .recommend-user-header
      %span.notification
        おすすめユーザー
      %span.reload-link
        更新
      %span.view-all-link
        すべてを見る
    .recommend-follow-users
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-follow-user
        = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
        .recommend-user-list
          %span.recommend-user-nickname
            めそじ
          %span.recommend-user-id
            @mesozi
        .recommend-user-follow
          フォローする
      .recommend-user__more
        友だちを見つける
  .flex-module
    .flex-module-inner
      %ul.inners
        %li.inner
          © 2016 Twitter
        %li.inner
          Twitterについて
        %li.inner
          ヘルプ
        %li.inner
          規約
        %li.inner
          プライバシー
        %li.inner
          クッキー
        %li.inner
          広告について
        %li.inner
          ブランド
        %li.inner
          ブログ
        %li.inner
          ステータス
        %li.inner
          アプリ連携
        %li.inner
          採用情報
        %li.inner
          広告掲載方法
        %li.inner
          メディア
        %li.inner
          開発者
  .flex-add
    .flex-add-inner
      Twitter広告

