%li.tweet-list
  .message-tweet-content
    .content
      -if tweet.user.user_img
        = image_tag(tweet.user.user_img, class: "tweet-user-icon")
      -else
        =image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "tweet-user-icon")
      .content-header
        %span.nickname<>
          = tweet.user.nickname
        %span.id<>
          @
          = tweet.user.username
        %span.timestamps<>
          = tweet.created_at
        .content-main-text<>
          = tweet.text
      .content-btn
        .reply-btn
          .fa.fa-reply
        .retweet-btn
          .fa.fa-retweet
        .favorite-btn
          .fa.fa-heart
        .detail-btn
          .fa.fa-ellipsis-h
