.grid-cell
  .grid-cell-inner
    = link_to user_path(followed.id) do
      .grid-cell-inner-header-img
        = image_tag("http://photosku.com/img/slick/02.jpg", class: "grid-profile-header-img")
  .grid-cell-bottom
    .grid-cell-user-icon
      = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "grid-cell-user-icon-size")
    .profile-card
      .fa.fa-cog
      .profile-button
        %button.profile-btn-follow
          %span.profile-btn-follow-text
            フォロー中
    .grid-cell-profile
      .grid-cell-name
        = followed.nickname
      .grid-cell-id
        = followed.username
      .grid-cell-follower
        フォローされています
    .profile-card-bio
      なんでそんな言い方するの？
      なんでそんな言い方するの？
      なんでそんな言い方するの？
