!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Twitter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    = render partial: 'tweets/header'

    .prof
    .search-info__center
      %h1
        = params[:keyword]

    .info-container
      .search-info-nav
        %ul.search-info-main
          %li.search-info-wadai
            %a.search-link
              話題のツイート
          %li.search-info-all-tweet
            = link_to tweet_search_index_path(keyword: @search_word), class: "search-link" do
              すべてのツイート
          %li.search-info-user
            = link_to search_index_path(keyword: @search_word), class: "search-link" do
              ユーザー名
          %li.search-info-img
            %a.search-link
              画像
          %li.search-info-movie
            %a.search-link
              動画
          %li.search-info-other
            %a.search-link
              その他
      .info-container-inner
        .profile-nav-left
          .profile-nav-left-info
          .recommend-user
            .recommend-user-header
              %span.notification
                おすすめユーザー
              %span.reload-link
                更新
              %span.view-all-link
                すべてを見る
            .recommend-follow-users
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-user__more
                友だちを見つける

          .twitter-trend
            .trend-header
              %span.trend-location
                トレンド
              %span.middot
                ・
              %span.trend-change
                変更する
            .trend-contents
              %ul.trend-contents-list
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート


        .profile-nav-right
          .profile-nav-right-inner
            = yield
