!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Twitter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    #header-bar

      .top-content
        .top-content__left
          %ul.navigation
            = link_to root_path do
              %li.navigation.header-list
                .top-content__home
                  %span.fa.fa-home
                  %span.text
                    ホーム
            %li.navigation.header-list
              .top-content__notice
                %span.fa.fa-notice
                %span.text
                  通知
            %li.navigation.header-list
              .top-content__direct-message
                %span.fa.fa-direct-message
                %span.text
                  メッセージ
        =link_to root_path do
          %i.fa.fa-twitter

        .top-content__right
          .top-content__right-block
            .search
              =form_tag("/search", method: "get",class: "form-tag-search") do
                %input{placeholder: "キーワード検索",name:"keyword" ,class: "input-search"}
                = button_tag(class: "search--btn") do
                  %i.fa.fa-search

          %ul.link__icon
            %li.user__icon.header-list
              = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "icon-size")
              %ul#drop-child
                = link_to user_path(current_user), class: "pulldown-link" do
                  %li.pulldown-list
                    %span.pulldown-username
                      = current_user.username
                    %span.pulldown-notification
                      プロフィールを表示
                  %li.pulldown-divider
                  %li.pulldown-list
                    %span.pulldown-main-notification
                      プロフィール編集
                  = link_to destroy_user_session_path, method: :delete,  class: "pulldown-link" do
                    %li.pulldown-list
                      %span.pulldown-main-notification
                        ログアウト


              %li.tweet__btn.header-list
                = image_tag("http://www.fastpic.jp/images.php?file=3402064864.png",class: "tweet--btn")


    .prof
    .search-info__center
      %h1
        = params[:keyword]

    .info-container
      .search-info-nav
        %ul.search-info-main
          %li.search-info-wadai
            %a.search-link
              話題のツイート
          %li.search-info-all-tweet
            = link_to tweet_search_index_path(keyword: @search_word), class: "search-link" do
              すべてのツイート
          %li.search-info-user
            = link_to search_index_path(keyword: @search_word), class: "search-link" do
              ユーザー名
          %li.search-info-img
            %a.search-link
              画像
          %li.search-info-movie
            %a.search-link
              動画
          %li.search-info-other
            %a.search-link
              その他
      .info-container-inner
        .profile-nav-left
          .profile-nav-left-info
          .recommend-user
            .recommend-user-header
              %span.notification
                おすすめユーザー
              %span.reload-link
                更新
              %span.view-all-link
                すべてを見る
            .recommend-follow-users
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-follow-user
                = image_tag("http://www.starico-03.com/stamp/outline/a231269-0.png", class: "recommend-user-icon")
                .recommend-user-list
                  %span.recommend-user-nickname
                    めそじ
                  %span.recommend-user-id
                    @mesozi
                .recommend-user-follow
                  フォローする
              .recommend-user__more
                友だちを見つける

          .twitter-trend
            .trend-header
              %span.trend-location
                トレンド
              %span.middot
                ・
              %span.trend-change
                変更する
            .trend-contents
              %ul.trend-contents-list
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート
                %li.trend-main
                  %span.trend-name
                    終わらない
                  .trend-number
                    23942件のツイート


        .profile-nav-right
          .profile-nav-right-inner
            = yield
